{% extends "layout.html" %} {% block body %}
<h2>Work types</h2>

{% if error %}
    <div class="alert alert-danger">
        <strong>Error:</strong> {{ error }}
    </div>
{% endif %}

{% if worktypes %}
<p>
    <div class="col-md-8">
       <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Price (€/h)</th>
                <th></th>
                <th></th>
            </tr>
            {% for worktype in worktypes %}
            <tr>
                <td>{{ worktype.name}}</td>
                <td>{{ worktype.price }}</td>
                <td>
                    <form method="GET" action="{{ url_for('worktype', worktype_id=worktype.id) }}">
                        <input type="submit" value="Edit" class="btn btn-dark btn-sm"/>
                    </form>
                </td>
                <td>
                    <form method="POST" action="{{ url_for('worktypes_delete', worktype_id=worktype.id) }}">
                        <input type="submit" value="Delete" class="btn btn-dark btn-sm"/>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</p>
{% else %}
<p>No work types created yet.</p>
{% endif %}

<p><a href="{{ url_for('worktypes_form') }}" class="btn btn-dark">Add work type</a></p>

{% endblock %}
