<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project time management app</title>
  </head>

  <body>
      {% if current_user.is_authenticated %}
      <p>
          Logged in as {{ current_user.name }} | <a href="{{ url_for('auth_logout') }}">Log out</a>
      </p>
      {% else %}
      <a href="{{ url_for('auth_login') }}">Log in</a>
      {% endif %}
      
      <ul>
        <li><a href="{{ url_for('timelogs_index') }}">List logged time</a></li>
        <li><a href="{{ url_for('timelogs_form') }}">Log time</a></li>
        <li><a href="{{ url_for('worktypes_index') }}">List work types</a></li>
        <li><a href="{{ url_for('worktypes_form') }}">Add a work type</a></li>
        
      </ul>
      
      {% block body %}
      
      <p>
          Content.
      </p>
      
      {% endblock %}
      
  </body>
</html>