{% extends "layout.html" %} {% block body %}
<h2>Customers</h2>

<p>
     <div class="col-md-8">
        <table class="table table-striped">
            <tr>
                <th>Name</th>
                <th>Business ID</th>
                <th></th>
            </tr>
            {% for customer in customers %}
            <tr>
                <td>{{ customer.name}}</td>
                <td>{{ customer.business_id }}</td>
                <td>
                    <form method="GET" action="{{ url_for('customer', customer_id=customer.id) }}">
                        <input type="submit" value="Edit" class="btn btn-dark btn-sm"/>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</p>

<p><a href="{{ url_for('customers_form') }}" class="btn btn-dark">Add customer</a></p>

{% endblock %}
