{% extends "layout.html" %}
  
{% block body %}

<h2>Add a customer</h2>

<form method="POST" action="{{ url_for('customers_create') }}">
    <table>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
            <td>
                    <ul>
                        {% for error in form.name.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
            </td>
        </tr>
        <tr>
                <td>
                    {{ form.business_id.label }}
                </td>
                <td>
                    {{ form.business_id }}
                </td>
            </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Add customer"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}