{% extends "layout.html" %} {% block body %}

<h2>Time logs</h2>

<table>
  <tr>
    <th>Work type</th>
    <th>Description</th>
    <th>Hours</th>
    <th>Cleared for invoicing</th>
    <th></th>
    <th></th>
  </tr>
  {% for timelog in timelogs %}
  <tr>
    <td>{{ timelog.work_type_name }}</td>
    <td>{{ timelog.description }}</td>
    <td>{{ timelog.hours}}</td>    
    <td>{{ timelog.cleared }}</td>
    <td>
        <form method="GET" action="{{ url_for('timelog', timelog_id=timelog.id) }}">
            <input type="submit" value="Edit" />
        </form>
    </td>
    <td>
            <form method="POST" action="{{ url_for('timelogs_delete', timelog_id=timelog.id) }}">
                <input type="submit" value="Delete" />
            </form>
        </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
