{% extends "layout.html" %} {% block body %}

<h2>Time logs</h2>

<p>
    <div class="col-12">
           <table class="table table-striped">
                <tr>
                    <th>Customer</th>
                    <th>Project</th>
                    <th>Work type</th>
                    <th>Description</th>
                    <th>Hours</th>
                    <th>Invoicing status</th>
                    <th></th>
                    <th></th>
                </tr>
                {% for timelog in timelogs %}
                <tr>
                    <td>{{ timelog.customer_name }}</td>
                    <td>{{ timelog.project_name }}</td>
                    <td>{{ timelog.work_type_name }}</td>
                    <td>{{ timelog.description }}</td>
                    <td>{{ timelog.hours}}</td>  
                    <td>
                        {% if timelog.cleared == True %}
                        <span class="badge badge-success">Invoiced</span>
                        {% endif %}
                        {% if timelog.cleared == False %}
                        <span class="badge badge-secondary">Not invoiced</span>
                        {% endif %}
                    </td>
                    <td>
                        <form method="GET" action="{{ url_for('timelog', timelog_id=timelog.id) }}">
                            <input type="submit" value="Edit" class="btn btn-dark btn-sm"/>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="{{ url_for('timelogs_delete', timelog_id=timelog.id) }}">
                            <input type="submit" value="Delete" class="btn btn-dark btn-sm"/>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
    </div>
</p>

<p><a href="{{ url_for('timelogs_form') }}" class="btn btn-dark">Log time</a></p>

{% endblock %}
