{% extends "layout.html" %} {% block body %}

<h3>Register</h3>

<form method="POST" action="{{ url_for('auth_register') }}">
  <table>
    <tr>
      <td>
        {{ form.name.label }}
      </td>
      <td>
        {{ form.name }}
      </td>
      <td>
        {% for error in form.name.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.username.label }}
      </td>
      <td>
        {{ form.username }}
      </td>
      <td>
        {% for error in form.username.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.password.label }}
      </td>
      <td>
        {{ form.password }}
      </td>
      <td>
        {% for error in form.password.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </td>
    </tr>
    <tr>
      <td>
        {{ form.confirm.label }}
      </td>
      <td>
        {{ form.confirm }}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <input type="submit" value="Register" />
      </td>
    </tr>
  </table>
</form>
{% endblock %}
